<!doctype html>
<html>
<head>
    <title>React playground</title>
    <meta http-equiv="Content-script-Type" content="text/html/javascript;" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="bSiteWrap" id="jsMain"></div>
</body>
</html>

